@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Ubuntu:wght@300&display=swap');

*{
    /* outline: 1px solid red; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans';
    background-color: black;
    color: aliceblue;
}

main{
    /* height: 80vh; */
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
}

.box{
    margin: 16px;
    text-align: center;
}

.tieandrestart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100px;
    width: 200px;
}

span{
    color: aliceblue;
    font-size: 24px;
    margin: 0;
    visibility: hidden;
}

h2{
    margin: 0;
}

.buttons-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 16px;
}

.btn{
    font-family: inherit;
    padding: 12px 40px;
    font-size: 24px;
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 3px;
    color: aliceblue;
    margin: 8px;
}

.btn.player:focus{
    /* transform: scale(0.9); */
    transition: transform 1s ease;
    border: 2px solid yellow;
}

.scores{
    display: flex;
    justify-content: space-around;
}

.score{
    position: relative;
}

.tie{
    transition: .5s ease;
}

p{
    font-size: 24px;
}

kbd{
    position: absolute;
    left: 45%;
    font-size: 24px;
}